
<form action="/square/results">
<label for="square">Enter a number</label>
 
<input id="square" type="text" name="number" placeholder="What number do you want to take the square of?">

<br>

<button>Calculate square</button>

</form>
  